// text colors
.black-text {
  color: $black-color;
}

.white-text {
  color: $white-color;
}

// font sizes
.small-text {
  font-size: 0.7rem;
}

.medium-text {
  font-size: 0.8rem;
}

.text-0-9 {
  font-size: 0.9rem;
}

.text-1 {
  font-size: 1rem;
}

.text-1-2 {
  font-size: 1.2rem;
}

.text-1-5 {
  font-size: 1.5rem;
}

.text-2 {
  font-size: 2rem;
}

.bold-text {
  font-weight: 700;
}

.centered-text {
  text-align: center;
}
