$primary-color: rgb(7, 7, 48);
$secondary-color: rgb(111, 41, 41);
$black-color: rgb(0, 0, 0);
$black-transparent: rgba(0, 0, 0, 0.2);
$white-color: rgb(255, 255, 255);
$light-blue: rgb(135, 206, 235);
$priority-1: rgba(85, 82, 82, 0.9);
$priority-2: rgba(85, 82, 82, 0.6);
$priority-3: rgba(85, 82, 82, 0.3);
$priority-4: rgba(85, 82, 82, 0.1);
