  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  * {
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
  }
  
  body {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .nav-bar {
    background-color: rgb(7, 7, 48);
    color: rgb(255, 255, 255);
    height: 45px;
  }
  
  @media only screen and (min-width: 768px) {
    .nav-bar-ul li {
      padding-right: 55px;
      padding-left: 55px;
    }
  }